{
    "driver_config": {"device_address": "192.168.1.62:47809",
    				  "device_id": 260001},
    "campus": "iiit",
    "building": "cbs",
    "unit": "windowshadecontrol",
    "driver_type": "bacnet",
    "registry_config":"/home/bsrc-sam/volttron/applications/iiit/WindowShadeControl/configurations/bacnet-windowshadecontrol.csv",
    "interval": 60,
    "timezone": "UTC"
}
