{
    "driver_config": {"device_address": "192.168.1.61:47808",
    				  "device_id": 260001},
    "campus": "campus_iiit",
    "building": "building_cbs",
    "unit": "bacnet_smarthub",
    "driver_type": "bacnet",
    "registry_config":"/home/bsrc-sam/volttron/applications/iiit/bacnet_smarthub.csv",
    "interval": 60,
    "timezone": "UTC"
}
