{
    "driver_config": {"device_address": "192.168.1.61:47809",
    				  "device_id": 260001},
    "campus": "iiit",
    "building": "cbs",
    "unit": "smarthub",
    "driver_type": "bacnet",
    "registry_config":"/home/bsrc-sam/volttron/applications/iiit/bacnet-smarthub.csv",
    "interval": 60,
    "timezone": "UTC"
}
